<div class="panel">
  <div class="container">
    <div class="error-container" [style.visibility]="errorMessage ? 'visible' : 'hidden' ">
      <div class="error">
        <span>{{errorMessage}}</span>
      </div>
    </div>
    <div class="transparent-block">
    </div>
    <div class="forgot-password-container">
      <div class="forgot-password-header">
        <h4>Forgot Password</h4>
      </div>
      <div class="field-block">
        <input type="text" placeholder="you@example.com" name="username" required>
      </div>
      <div class="submit-block">
        <button type="submit" class="cstm-primary-button">Submit</button>
      </div>
    </div>

  </div>
</div>
