.navbar-obsidian {
  background-color: #0089ff; // #1f33b9;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  .cstm-item {
    a {
      color: #ffffff;
      margin-left: 10px;
      margin-right: 10px;
    }
    transition: all 0.3s ease-out 0s;
  }
  .cstm-item:hover {
    background-color: #0072ff; // 004eff;
    transition: all 0.3s ease-out 0s;

  }
  .cstm-active {
    background-color: #0070fb;
    transition: all 0.3s ease-out 0s;
    a {
      color: #ffffff;
    }
  }
  .cstm-item:active:hover {
    background-color: #0e4bd6;
  }
}

.white-logo {
  display: inline-block;
  max-width: 30px;
  max-height: 30px;
  margin-right: 1rem;
}

.white-logo:hover {
  cursor: pointer;
}

.white-logo:focus {
  outline: none;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0rem;
  padding-left: 0rem;
}
