<div *ngFor="let cluster of this.sortedServers">
  <h1>{{cluster.clusterName}}</h1>
  <table *ngIf="cluster.servers && cluster.servers.length!==0">
    <tr>
      <th>Server Name</th>
      <th>Host</th>
      <th>Port</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let server of cluster.servers">
      <td>{{server.name}}</td>
      <td>{{server.host}}</td>
      <td class="port">{{server.port? server.port : '-'}}</td>
      <td>{{server.status ? 'Up' : 'Down'}}</td>
      <td>Restart</td>
    </tr>
  </table>
</div>
