<div class="cluster">
  <div>
    <div class="form-group has-danger">
      <div class="input-group url">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon">URL/IP:</span>
        </div>
        <input type="text" class="form-control " [ngClass]="{'is-invalid' : !isValidUrl(url)}" [(ngModel)]="url" id="url" aria-label="URL or the IP address pointing to the server"
          aria-describedby="basic-addon">
        <div class="invalid-feedback">{{urlError}}</div>
      </div>
      <div class="input-group port">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon">Port:</span>
        </div>
        <input type="text" class="form-control" [ngClass]="{'is-invalid' : !isValidPort(port)}" [(ngModel)]="port" id="port" aria-label="Port of the server to be pinged"
          aria-describedby="basic-addon">
        <div class="invalid-feedback">{{portError}}</div>
      </div>
      <div class="button">
        <button [disabled]="!isValidUrl(url) || !isValidPort(port)" type="button" class="btn btn-primary" (click)="pingServer()">Check</button>
      </div>
    </div>
  </div>

  <table class=" table-striped table-bordered" *ngIf="serverStatusArray">
    <thead>
      <tr>
        <th>Server Url</th>
        <th>Port</th>
        <th>Status</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let server of serverStatusArray">
        <td class="host">
          {{server.url}}
        </td>
        <td>
          {{server.port? server.port : '-'}}
        </td>
        <td>
          <img *ngIf="server.status" data-toggle="tooltip" title="Server is up" class="checked" src="/assets/checked.svg">
          <img *ngIf="!server.status" data-toggle="tooltip" title="Server is down" class="cancel" src="/assets/cancel.svg">
        </td>
        <td>
          {{server.time}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });

</script>
