<div class="cluster">
  
<div>
    <div class="form-group url-port">
    URL:<input type="text" [(ngModel)]="url" class="form-control" id="url">
    Port:<input type="text" [(ngModel)]="port" class="form-control" id="port">
    </div>
    <button type="button" class="btn btn-default" (click)="pingServer()">Check</button>
  </div>
  
  <table class=" table-striped table-bordered" *ngIf="serverStatusArray">
    <thead>
      <tr>
        <th>Server Url</th>
        <th>Port</th>
        <th>Status</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let server of serverStatusArray">
        <td class="host">
          {{server.url}}
        </td>
        <td class="port">{{server.port? server.port : '-'}}</td>
        <td>
          <img *ngIf="server.status" data-toggle="tooltip" title="Server is up" class="checked" src="/assets/checked.svg">
          <img *ngIf="!server.status" data-toggle="tooltip" title="Server is down" class="cancel" src="/assets/cancel.svg">
        </td>
        <td>
          {{server.time}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip(); 
  });
  </script>
  