<div class="panel">
  <div class="container">
    <div class="error-container" [style.visibility]="errorMessage ? 'visible' : 'hidden' ">
      <div class="error">
        <span>{{errorMessage}}</span>
      </div>
    </div>
    <div class="transparent-block">
    </div>
    <div class="login-container">
      <div class="login-header">
        <h4>Login</h4>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <div class="field-block">
          <input type="text" (focus)="errorMessage=null" placeholder="Email" formControlName="email" required>
        </div>
        <div class="field-block">
          <input type="password" (focus)="errorMessage=null;" placeholder="Password" formControlName="password" required>
        </div>
        <div class="submit-block">
          <button type="submit" class="cstm-primary-button">Submit</button>
          <div>
            <a routerLink="/forgot">Forgot password</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
