/* You can add global styles to this file, and also import other style files */
.selector-for-some-widget {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  @media (min-width: 992px){
    .external-collapse.navbar-collapse {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important;
    }
}
