@import "~bootstrap/dist/css/bootstrap.min.css";
/* @import "~font-awesome/css/font-awesome.css"; */

body {
  background-color: rgba(238, 238, 238, 0.46);
}

input.is-invalid {
  border: 1px solid red;
}

.custom-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

svg {
  max-height: inherit;
  max-width: inherit;
}

.cstm-primary-button {
  width: calc(100% - 70px);
  background-color: #0072ff;
  border: 0;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  transition: all 0.3s ease-out 0s;
}

.cstm-primary-button:hover {
  background-color: #0051e7;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
}

.cstm-primary-button:focus {
  //selected
  background-color: #0072ff;
  outline: 0;
  transition: all 0.3s ease-out 0s;
}

.cstm-primary-button:active {
  //mousedown
  transition: none;
  background-color: #0070fb;
  transition: all 0.3s ease-out 0s;
}

.cstm-primary-button:focus:hover {
  background-color: #0051e7;
}

.cstm-primary-button:focus:active {
  background-color: #0e4bd6;
}

.loader {
  margin: 100px auto;
  width: 200px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.loader>div {
  background-color: #0072ff;
  height: 100%;
  width: 12px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.loader .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.loader .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.loader .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.loader .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
